<a href="https://colab.research.google.com/github/Robssauro/RobsonHF/blob/master/Aula_de_Python_Exerc%C3%ADcios.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Exercícios realizados a partir das video-aulas da seguinte playlist do youtube: https://youtu.be/ccZ2pyr3YDw
Códigos não foram criados por mim, apenas reproduzidos!

In [5]:
nome = "Michel"
print(nome)
nome = "Guilherme"
nome
idade = 37
idade + 3

Michel

40

In [0]:
def mais_um_ano(idade) :
  print("ta dentro dessa função")
  return idade + 1

In [9]:
mais_um_ano(43)

ta dentro dessa função

44

In [0]:
filme1 = "Toy Story17"
filme2 = "A Xuxa contra o Baixo Astral"
filme3 = "Matrix 1"

In [0]:
filmes = ["Toy Story 17", "Xuxa contra o baixo astral", "Matrix 1"]

In [4]:
filmes

['Toy Story 17', 'Xuxa contra o baixo astral', 'Matrix 1']

In [5]:
list()

[]

In [0]:
def imprime_filmes(filmes_que_quero_imprimir):
  print("a lista de filmes que eu tenho disponível")
  print(filmes)

In [7]:
imprime_filmes(filmes)

a lista de filmes que eu tenho disponível
['Toy Story 17', 'Xuxa contra o baixo astral', 'Matrix 1']

In [8]:
filmes[1]

'Xuxa contra o baixo astral'

In [9]:
filmes[0]

'Toy Story 17'

In [10]:
filmes[4]

IndexError: ignored

In [11]:
filmes[-1]

'Matrix 1'

In [12]:
filmes[-2]

'Xuxa contra o baixo astral'

In [13]:
filmes[1:]

['Xuxa contra o baixo astral', 'Matrix 1']

In [15]:
for filme in filmes:
  print(filmes)
  print("...")
print ("estou fora")

['Toy Story 17', 'Xuxa contra o baixo astral', 'Matrix 1']
...
['Toy Story 17', 'Xuxa contra o baixo astral', 'Matrix 1']
...
['Toy Story 17', 'Xuxa contra o baixo astral', 'Matrix 1']
...
estou fora

In [0]:
def imprime_filmes(filmes_que_quero_imprimir):
  print("A lista de filmes que eu tenho disponível")
  for filme in filmes_que_quero_imprimir:
    print(filme)

In [31]:
imprime_filmes(filmes)

A lista de filmes que eu tenho disponível
Toy Story 17
Xuxa contra o baixo astral
Matrix 1

In [0]:
dados = {"nome" : "Guilherme", "idade" : 37, "empresa" : "Alura"}

In [33]:
dados["nome"]

'Guilherme'

In [35]:
dados["empresa"]

'Alura'

In [44]:
import pandas as pd
uri = "https://raw.githubusercontent.com/alura-cursos/introducao-a-data-science/master/aula4.1/movies.csv"
filmes = pd.read_csv(uri) #dataframe
filmes.head()

   movieId  ...                                       genres
0        1  ...  Adventure|Animation|Children|Comedy|Fantasy
1        2  ...                   Adventure|Children|Fantasy
2        3  ...                               Comedy|Romance
3        4  ...                         Comedy|Drama|Romance
4        5  ...                                       Comedy

[5 rows x 3 columns]

In [0]:
filmes.columns = ["filmeId", "titulo", "generos"]

In [48]:
filmes.head()

   filmeId  ...                                      generos
0        1  ...  Adventure|Animation|Children|Comedy|Fantasy
1        2  ...                   Adventure|Children|Fantasy
2        3  ...                               Comedy|Romance
3        4  ...                         Comedy|Drama|Romance
4        5  ...                                       Comedy

[5 rows x 3 columns]

In [49]:
uri = "https://raw.githubusercontent.com/alura-cursos/introducao-a-data-science/master/aula1.2/ratings.csv"
notas = pd.read_csv(uri)
notas.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [52]:
notas.columns = ["usuarioId", "filmeId", "nota", "momento"]
notas.head()

   usuarioId  filmeId  nota    momento
0          1        1   4.0  964982703
1          1        3   4.0  964981247
2          1        6   4.0  964982224
3          1       47   5.0  964983815
4          1       50   5.0  964982931

In [55]:
notas ["nota"].unique() #series #saber valores únicos

array([4. , 5. , 3. , 2. , 1. , 4.5, 3.5, 2.5, 0.5, 1.5])

In [56]:
notas["nota"].mean() #média

3.501556983616962

In [57]:
notas["nota"].min() #minimo

0.5

In [58]:
notas["nota"].max() #maximo

5.0

In [59]:
notas.describe() #descreva para mim o dataFrame

           usuarioId        filmeId           nota       momento
count  100836.000000  100836.000000  100836.000000  1.008360e+05
mean      326.127564   19435.295718       3.501557  1.205946e+09
std       182.618491   35530.987199       1.042529  2.162610e+08
min         1.000000       1.000000       0.500000  8.281246e+08
25%       177.000000    1199.000000       3.000000  1.019124e+09
50%       325.000000    2991.000000       3.500000  1.186087e+09
75%       477.000000    8122.000000       4.000000  1.435994e+09
max       610.000000  193609.000000       5.000000  1.537799e+09

In [0]:
#mediana = median