<a href="https://colab.research.google.com/github/Robssauro/RobsonHF/blob/master/Estat%C3%ADstica_Descritiva_Jeitto.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
dados = pd.read_csv ('olympics_statistics.csv', usecols=['Gold_Summer', 'Gold_Winter', 'Total_Winter'])
#dados.sort_values()

In [45]:
dados

     Gold_Summer  Gold_Winter  Total_Winter
0              0            0             0
1              5            0             0
2             18            0             0
3              1            0             0
4              3            0             0
..           ...          ...           ...
141           26            0             4
142            0            0             0
143            0            0             0
144            3            0             0
145            8            0             0

[146 rows x 3 columns]