<a href="https://colab.research.google.com/github/Robssauro/RobsonHF/blob/master/Machine_Learning_Exerc%C3%ADcios.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
Exercícios realizados a partir das video-aulas da seguinte playlist do youtube: https://youtu.be/ccZ2pyr3YDw 
 Códigos não foram criados por mim, apenas reproduzidos!

SyntaxError: ignored

In [0]:
# pelo longo?
#perna curta?
#faz auau?
porco1 = [0, 1, 0]
porco2 = [0, 1, 1]
porco3 = [1, 1, 0]

cachorro1 = [0, 1, 1]
cachorro2 = [1, 0, 1]
cachorro3 = [1, 1, 1]

#nada a ver com os de cima

treino_x = [porco1, porco2, porco3, cachorro1, cachorro2, cachorro3] #o que eu pergunto para o meu filho
# f([x, y, z]) = 0,1 # é uma função matemática que eu quero que ele me diga 0 ou 1
treino_y = [1, 1, 1,0,0,0] #0 cachorro 1 porco # o que eu dou pro meu filho de resposta

In [6]:
from sklearn.svm import LinearSVC # isso é um classificador

modelo = LinearSVC()
modelo.fit(treino_x, treino_y)

LinearSVC(C=1.0, class_weight=None, dual=True, fit_intercept=True,
          intercept_scaling=1, loss='squared_hinge', max_iter=1000,
          multi_class='ovr', penalty='l2', random_state=None, tol=0.0001,
          verbose=0)

In [8]:
animal_misterioso = [1,1,1]
modelo.predict([animal_misterioso]) #recebe uma lista de previsões que ele vai fazer

array([0])

In [0]:
 misterio1 = [1,1,1]
 misterio2 = [1,1,0]
 misterio3 = [0,1,1]
 
 teste_x = [misterio1, misterio2, misterio3]
 teste_y = [0,1,1]

In [12]:
previsoes = modelo.predict (teste_x)
previsoes

array([0, 1, 0])

In [13]:
from sklearn.metrics import accuracy_score

accuracy_score(teste_y, previsoes)

0.6666666666666666

In [0]:
# 80% é cachorro
#20% porco

# espero que ele acerte 80%, pra ele poder acertar tudo


#sklearn.dummy.DummyClassifier é um chutador "burro" que vai chutar o mais frequente. Então meu código tem que ser melhor do que isso

In [15]:
import pandas as pd
uri = "https://gist.githubusercontent.com/guilhermesilveira/2d2efa37d66b6c84a722ea627a897ced/raw/10968b997d885cbded1c92938c7a9912ba41c615/tracking.csv"
dados = pd.read_csv (uri)
dados.head()

   home  how_it_works  contact  bought
0     1             1        0       0
1     1             1        0       0
2     1             1        0       0
3     1             1        0       0
4     1             1        0       0

In [16]:
dados.sample(5)

    home  how_it_works  contact  bought
6      1             1        0       0
34     1             0        1       1
88     0             0        1       0
11     1             0        1       1
37     0             0        1       0

In [17]:
x = dados[["home", "how_it_works", "contact"]]
x.head()

   home  how_it_works  contact
0     1             1        0
1     1             1        0
2     1             1        0
3     1             1        0
4     1             1        0

In [18]:
y = dados["bought"]
y.head()

0    0
1    0
2    0
3    0
4    0
Name: bought, dtype: int64

In [36]:
from sklearn.svm import LinearSVC # isso é um classificador
from sklearn.model_selection import train_test_split

modelo = LinearSVC()

treino_x, teste_x, treino_y, teste_y = train_test_split(x, y)
modelo.fit(treino_x, treino_y)


previsoes = modelo.predict (teste_x)
accuracy_score(teste_y, previsoes) * 100

96.0

In [0]:
def retorna_5_numeros(): # isso é uma função que retorna 5 valores
  return 1,2,3,4,5

  a,b,c,d,e = retorna_5_numeros()
  a